body{
    background-color: black;
}

*{
    color: white;
}

h1{
    font-size: 100px;
    color: white;
}

div.navbar{
    overflow: hidden;
    background: linear-gradient(to right, rgb(21, 106, 203), rgb(46, 0, 92));
    position: fixed;
    top: 0;
    width: 100%;
}

div.navbar a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.navbar a.right{
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.carrossel{
    text-align: center;
}